*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.intro{
	background: #EAF0F1;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding: 20px;
    background:white;
}
h1{
	color:white;
	font-weight: bold;
	transition: 0.5s;
}
h3{
	color:black;
	transition:0.3s;
}
button{
	border:none;
	border-radius: 20px;
	padding: 10px;
	background-color: black;
	color:white;
	letter-spacing: 1.5px;
	font-size: 15px;
	transition: 0.5s;
}
img{
	padding:10px;
}
button:hover,h1:hover{
	transform: scale(1.1);
}
button:hover{
	background-color:#4C4B4B;
}
body{
    min-height: 100vh;
    }

footer {
    position: sticky;
    top: 100%;
    color: white;
    background-color: #EAF0F1;
    letter-spacing: 0.5px;
    background: black;
}

footer p {
    margin: 0;
    font-size: 15px;
}
@media only screen and (orientation:portrait){
	.intro{
		display:flex;
		flex-direction: column-reverse;
	}
	h1{
		font-size: 30px;
	}
	.act{
		padding-bottom: 100px;
	}
}